* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #eee;
}

.dot {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: steelblue;
  transform-style: preserve-3d;
  animation: loader 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.dot:nth-child(2) {
  z-index: 9;
  animation-delay: 0.1s;
  background: dodgerblue;
}

.dot:nth-child(3) {
  z-index: 8;
  animation-delay: 0.2s;
  background: royalblue;
}

@keyframes loader {
  0% {
    left: 10%;
    transform: translateX(0);
  }

  50% {
    left: 90%;
    transform: translateX(100%);
  }
}
